<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcdev.nextluas"
    android:installLocation="auto"
    android:launchMode="singleTask"
    android:windowSoftInputMode="adjustPan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".LuasApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LtTheme">
        <activity
            android:name=".activities.NextLuasActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProblemActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.EditPreferenceActivity"
            android:label="@string/app_name" />

    </application>

</manifest>